body {
     background: black;
     color: white;
     margin: 0px
}

header {
border-bottom: solid 2px white;
    font-size: 20px;
    color: white;
    padding: 20px;
} 

section{
background: rgb(#1e3a3b);
}