body {
     background: black;
     color: white;
     margin: 0px
}

header {
border-bottom: solid 2px white
    padding: 20px;
    font-size: 32px;
    color:white
} 

section{
background: rgb(#1e3a3b);
}