body {
     background: black;
     color: white;
     margin: 0px
}

header {
border-bottom: solid 2px white;
    font-size: 20px;
    color: white;
    padding: 20px;
} 

section{
background: #0b181a;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
